.sb {
    width: 100%;
    padding: 150px 100px 20px 300px;

    .tableHead {
        display: inline-block;
        float: left;
        width: 100%;
        height: 50px;
        border-bottom: 1px solid $dark;

        .th {
            display: inline-block;
            float: left;
            font-weight: bolder;
            font-size: 20px;
            line-height: 50px;
            text-transform: uppercase;
        }

        .img {
            width: 100px;
        }

        .products {
            width: calc(40% - 100px);
        }

        .quantity {
            width: 20%;
        }

        .price {
            width: 20%;
        }

        .total {
            width: 20%;
        }
    }

    .tableRow {
        display: inline-block;
        float: left;
        width: 100%;
        border-bottom: 1px solid $dark;

        .tr {
            display: inline-block;
            float: right;
            font-weight: bold;
            font-size: 16px;
            line-height: 75px;
            text-transform: uppercase;

        }

        img {
            max-width: 100px;
            max-height: 75px
        }

        .products {
            width: calc(40% - 100px);
        }

        .quantity {
            width: 6%;
        }
        .plus{
            width: 7%;
        }
        .minus{
            width: 7%;
        }
        .price {
            width: 20%;
        }

        .total {
            width: 20%;
        }
    }
    .totals
    {
        border-bottom: none;

        .super_total {
            width: 20%;
            float: right;
            font-weight: bolder;
            font-size: 20px;
            line-height: 50px;
            border-bottom: 1px solid $dark;
        }
    }
    .cash_out_btn
    {
        display: inline-block;
        float: right;
        margin-top: 10px;
        width: 40%;
        font-size: 30px;
        line-height: 30px;
        text-decoration: none;
    }

}


