html {
  scroll-behavior: smooth;
}

body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  text-align: center;
}

.container {
  width: 100%;
  display: inline-block;
  float: left;
}

.button {
  font-family: Lora, sans-serif;
  line-height: 20px;
  font-size: 18px;
  padding: 10px;
  border: 2px solid #CD9C33;
  border-radius: 50px;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 800;
}

.button:hover {
  background-color: #CD9C33;
  color: white;
  box-shadow: -3px 3px 8px 0px grey;
}

.header-wide {
  padding: 10px 0 10px 0;
  text-transform: uppercase;
}
@media (max-width: 1155px) {
  .header-wide {
    display: none;
  }
}
.header-wide .meniu {
  line-height: 128px;
  font-size: 25px;
}
@media (max-width: 1335px) {
  .header-wide .meniu {
    font-size: 24px;
    line-height: 128px;
  }
}
@media (max-width: 1275px) {
  .header-wide .meniu {
    font-size: 23px;
    line-height: 120px;
  }
}
@media (max-width: 1245px) {
  .header-wide .meniu {
    font-size: 22px;
    line-height: 116px;
  }
}
@media (max-width: 1215px) {
  .header-wide .meniu {
    font-size: 21px;
    line-height: 111px;
  }
}
@media (max-width: 1185px) {
  .header-wide .meniu {
    font-size: 20px;
    line-height: 111px;
  }
}
@media (max-width: 1155px) {
  .header-wide .meniu {
    font-size: 19px;
    line-height: 105px;
  }
}
.header-wide .meniu_left {
  display: inline-block;
  float: left;
  width: calc((100% - 150px) / 2);
}
.header-wide .meniu_left .meniu_choice {
  display: inline-block;
  float: right;
  padding: 0 50px 0 0;
}
@media (max-width: 1335px) {
  .header-wide .meniu_left .meniu_choice {
    padding: 0 44px 0 0;
  }
}
@media (max-width: 1335px) {
  .header-wide .meniu_left .meniu_choice {
    padding: 0 43px 0 0;
  }
}
@media (max-width: 1275px) {
  .header-wide .meniu_left .meniu_choice {
    padding: 0 42px 0 0;
  }
}
@media (max-width: 1245px) {
  .header-wide .meniu_left .meniu_choice {
    padding: 0 41px 0 0;
  }
}
@media (max-width: 1215px) {
  .header-wide .meniu_left .meniu_choice {
    padding: 0 39px 0 0;
  }
}
@media (max-width: 1185px) {
  .header-wide .meniu_left .meniu_choice {
    padding: 0 38px 0 0;
  }
}
@media (max-width: 1155px) {
  .header-wide .meniu_left .meniu_choice {
    padding: 0 36px 0 0;
  }
}
.header-wide .logo {
  display: inline-block;
  float: left;
  width: 150px;
}
@media (max-width: 1335px) {
  .header-wide .logo {
    width: 145px;
  }
}
@media (max-width: 1275px) {
  .header-wide .logo {
    width: 140px;
  }
}
@media (max-width: 1245px) {
  .header-wide .logo {
    width: 135px;
  }
}
@media (max-width: 1215px) {
  .header-wide .logo {
    width: 130px;
  }
}
@media (max-width: 1185px) {
  .header-wide .logo {
    width: 125px;
  }
}
@media (max-width: 1155px) {
  .header-wide .logo {
    width: 120px;
  }
}
.header-wide .logo a {
  cursor: pointer;
}
.header-wide .logo a img {
  width: 150px;
}
@media (max-width: 1335px) {
  .header-wide .logo a img {
    width: 145px;
  }
}
@media (max-width: 1275px) {
  .header-wide .logo a img {
    width: 140px;
  }
}
@media (max-width: 1245px) {
  .header-wide .logo a img {
    width: 135px;
  }
}
@media (max-width: 1215px) {
  .header-wide .logo a img {
    width: 130px;
  }
}
@media (max-width: 1185px) {
  .header-wide .logo a img {
    width: 125px;
  }
}
@media (max-width: 1155px) {
  .header-wide .logo a img {
    width: 120px;
  }
}
.header-wide .meniu_right {
  display: inline-block;
  float: left;
  width: calc(((100% - 150px) / 2) - 150px);
}
.header-wide .meniu_right .meniu_choice {
  display: inline-block;
  float: left;
  padding: 0 0 0 35px;
  cursor: pointer;
}
@media (max-width: 1335px) {
  .header-wide .meniu_right .meniu_choice {
    padding: 0 0 0 44px;
  }
}
@media (max-width: 1335px) {
  .header-wide .meniu_right .meniu_choice {
    padding: 0 0 0 43px;
  }
}
@media (max-width: 1275px) {
  .header-wide .meniu_right .meniu_choice {
    padding: 0 0 0 42px;
  }
}
@media (max-width: 1245px) {
  .header-wide .meniu_right .meniu_choice {
    padding: 0 0 0 41px;
  }
}
@media (max-width: 1215px) {
  .header-wide .meniu_right .meniu_choice {
    padding: 0 0 0 39px;
  }
}
@media (max-width: 1185px) {
  .header-wide .meniu_right .meniu_choice {
    padding: 0 0 0 38px;
  }
}
@media (max-width: 1155px) {
  .header-wide .meniu_right .meniu_choice {
    padding: 0 0 0 36px;
  }
}
.header-wide .choice {
  text-align: center;
  text-decoration: none;
  color: black;
  cursor: pointer;
}
.header-wide .choice:hover {
  color: #CD9C33;
  font-weight: 800;
}
.header-wide .meniu_icons {
  display: inline-block;
  float: left;
  width: 150px;
}
.header-wide .meniu_icons a {
  line-height: 29px;
  font-size: 25px;
  padding: 0 0px;
  margin: 49px 15px;
  text-decoration: none;
  color: black;
}
@media (max-width: 1275px) {
  .header-wide .meniu_icons a {
    margin: 45px 15px;
  }
}
@media (max-width: 1245px) {
  .header-wide .meniu_icons a {
    margin: 43px 15px;
  }
}
@media (max-width: 1215px) {
  .header-wide .meniu_icons a {
    margin: 41px 15px;
  }
}
.header-wide .meniu_icons .fa-shopping-basket {
  position: relative;
}
.header-wide .meniu_icons .fa-shopping-basket div {
  position: absolute;
  top: 17px;
  right: -9px;
  width: 24px;
  padding: 2px;
  line-height: 20px;
  font-size: 15px;
  border-radius: 50%;
  background-color: #CD9C33;
}
.header-wide .meniu_icons a:hover {
  color: #CD9C33;
  font-weight: 800;
}
.header-wide .meniu_icons a:hover > div {
  color: black;
  font-weight: 400;
}

.header-slim {
  display: none;
  padding: 10px;
  text-transform: uppercase;
}
@media (max-width: 1155px) {
  .header-slim {
    display: inline-block;
  }
}
.header-slim .meniu {
  display: inline-block;
  float: left;
  width: 150px;
}
.header-slim #hamburger {
  left: 60px;
  top: 50px;
}
@media (max-width: 384px) {
  .header-slim #hamburger {
    left: 25px;
  }
}
@media (max-width: 320px) {
  .header-slim #hamburger {
    left: 15px;
  }
}
.header-slim .logo {
  margin-left: calc((100% - 150px) / 2);
}
@media (max-width: 320px) {
  .header-slim .logo {
    margin-left: calc((100% - 180px) / 2);
  }
}
.header-slim .logo a {
  cursor: pointer;
}
.header-slim .logo a img {
  width: 150px;
}
.header-slim .meniu_icons {
  display: inline-block;
  float: left;
  position: absolute;
  right: 60px;
  width: 150px;
}
@media (max-width: 384px) {
  .header-slim .meniu_icons {
    right: 15px;
    width: 80px;
  }
}
@media (max-width: 320px) {
  .header-slim .meniu_icons {
    right: 15px;
    width: 80px;
  }
}
.header-slim .meniu_icons a {
  line-height: 29px;
  font-size: 25px;
  padding: 0 0px;
  margin: 49px 15px;
  text-decoration: none;
  color: black;
}
@media (max-width: 384px) {
  .header-slim .meniu_icons a {
    margin: 49px 5px;
  }
}
.header-slim .meniu_icons a:hover {
  color: #CD9C33;
  font-weight: 800;
}
.header-slim .meniu_icons .fa-shopping-basket {
  position: relative;
}
.header-slim .meniu_icons .fa-shopping-basket div {
  position: absolute;
  top: 17px;
  right: -9px;
  width: 24px;
  padding: 2px;
  line-height: 20px;
  font-size: 15px;
  border-radius: 50%;
  background-color: #CD9C33;
}

#hamburger {
  display: inline-block;
  position: absolute;
  padding: 9px 0;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  box-shadow: -1px 1px 4px 0px grey;
  background-color: white;
  z-index: 2;
}
#hamburger .bar {
  width: 35px;
  height: 4px;
  background-color: black;
  margin: 5px 7px;
  transition: 0.4s;
  opacity: 1;
  transform: none;
  border-radius: 2px;
}
#hamburger .bar1.change {
  transform: rotate(-45deg) translate(-6px, 7px);
}
#hamburger .bar2.change {
  opacity: 0;
}
#hamburger .bar3.change {
  transform: rotate(45deg) translate(-6px, -6px);
}
#hamburger #hamburger:hover .bar2 {
  background-color: red;
  width: 29px;
  margin: 5px 10px;
}

.curtainMeniu {
  height: 100vh;
  /*180%*/
  width: 0;
  /*120%*/
  position: fixed;
  z-index: 1;
  top: 0px;
  left: 0px;
  opacity: 0.8;
  overflow-x: hidden;
  transition: 0.5s;
}

.curtainMeniu > .curtainMeniuContent {
  display: inline-block;
  width: 25%;
  height: 40vh;
  text-align: center;
}

.curtainMeniu > .curtainMeniuContent > a {
  display: inline-block;
  position: relative;
  top: 50%;
  width: 100%;
  right: 64px;
  text-align: center;
  margin: 12px 0;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  font-weight: 800;
  color: #9E6F6D;
}

.curtainMeniu > .curtainMeniuContent > a:hover, .curtainMeniu > .curtainMeniuContent > a:focus {
  color: #f1f1f1;
}

@media (max-width: 900px) {
  .curtainMeniu {
    right: -150px;
  }
}
@media (max-width: 800px) {
  .curtainMeniu {
    right: -110px;
  }
}
@media (max-width: 700px) {
  .curtainMeniu {
    right: -90px;
  }
}
@media (max-width: 600px) {
  .curtainMeniu {
    right: -70px;
  }
}
@media (max-width: 500px) {
  .curtainMeniu {
    right: -70px;
  }
}
@media (max-width: 400px) {
  .curtainMeniu {
    right: -70px;
  }

  .curtainMeniu > .curtainMeniuContent > a {
    top: 60%;
    right: 40px;
    margin: 5px 0;
    font-size: 40px;
    line-height: 50px;
    font-weight: 800;
  }
}
.content {
  display: inline-block;
  float: left;
}
.content .pastry {
  display: inline-block;
  float: right;
  width: calc(100% - 250px);
  padding: 20px;
  margin-right: 50px;
}
.content .pastry .good {
  display: inline-block;
  position: relative;
  float: left;
  width: 20%;
  padding: 20px;
}
@media (max-width: 1200px) {
  .content .pastry .good {
    width: 25%;
  }
}
@media (max-width: 1100px) {
  .content .pastry .good {
    width: 33.3%;
  }
}
@media (max-width: 850px) {
  .content .pastry .good {
    width: 50%;
  }
}
.content .pastry .good img {
  display: inline-block;
  float: left;
  width: 100%;
}
.content .pastry .good .description {
  display: inline-block;
  float: left;
  width: 100%;
}
.content .pastry .good .text {
  display: inline-block;
  float: left;
  width: 100%;
  font-family: Lora, sans-serif;
}
.content .pastry .good .price {
  display: inline-block;
  float: left;
  width: 100%;
}
.content .pastry .good .name {
  width: 100%;
  font-size: 22px;
}
.content .pastry .good .categories {
  width: 100%;
  font-size: 14px;
  text-transform: uppercase;
}
.content .pastry .good .old_price {
  width: 50%;
  text-decoration: line-through;
}
.content .pastry .good .new_price {
  width: 50%;
}
.content .pastry .good .discount {
  position: absolute;
  top: 0px;
  left: 0px;
  background-position: center;
  background-size: contain;
  height: 60px;
  width: 60px;
  font-family: "Kaushan Script", cursive;
  font-size: 25px;
  line-height: 60px;
  text-align: center;
}
.content .pastry .good .new {
  position: absolute;
  top: -20px;
  right: 0px;
  background-position: center;
  background-size: contain;
  height: 60px;
  width: 60px;
  font-family: "Kaushan Script", cursive;
  font-size: 24px;
  line-height: 60px;
  text-align: center;
}

.contacts {
  padding: 30px 0;
  background-color: #22202e;
  font-family: Lora, sans-serif;
}
.contacts .contacts_body {
  display: inline-block;
  margin-left: calc((100% - 1100px) / 2);
  margin-right: calc((100% - 1100px) / 2);
}
.contacts .contacts_body .part {
  display: inline-block;
  width: 33.3%;
  float: left;
}
.contacts .contacts_body .part1 {
  text-align: center;
}
.contacts .contacts_body .part1 img {
  width: 50%;
}
.contacts .contacts_body .part1 p {
  margin-bottom: 15px;
  font-size: 16px;
  color: #ccc;
  line-height: 1.7em;
  font-family: Lora, sans-serif;
}
.contacts .contacts_body .part1 .icons {
  display: inline-block;
  margin-right: 12px;
}
.contacts .contacts_body .part1 .icons .fa {
  display: inline-block;
  margin-right: 12px;
  float: left;
  position: relative;
  width: 30px;
  height: 30px;
  line-height: 30px;
  font-size: 22px;
  color: #000;
  background-color: #b3b3b3;
  border-radius: 50%;
  text-decoration: none;
}
.contacts .contacts_body .part1 .icons .fa:hover {
  background-color: #CD9C33;
}
.contacts .contacts_body .part2 .section {
  margin: 20px 0;
}
.contacts .contacts_body .part2 .top .line {
  display: inline-block;
  text-align: center;
}
.contacts .contacts_body .part2 .top .line1 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
}
.contacts .contacts_body .part2 .top .line2 input {
  float: left;
  width: calc(100% - 120px);
  border: solid 1px #979797;
  background-color: transparent;
  text-indent: 10px;
  border-radius: 50px 0 0 50px;
  transition: all 0.4s ease;
  color: #979797;
  box-shadow: none;
  height: 50px;
  outline: none;
}
.contacts .contacts_body .part2 .top .line2 button {
  width: 120px;
  float: right;
  height: 50px;
  background-color: #cd9b33;
  color: #fff;
  font-size: 14px;
  border: none;
  border-radius: 0 50px 50px 0;
  text-transform: capitalize;
  outline: none;
  cursor: pointer;
}
.contacts .contacts_body .part2 .top .line3 {
  font-size: 14px;
  color: #979797;
  line-height: 1.7em;
  margin: 0 0 10px;
}
.contacts .contacts_body .part2 .bottom .line {
  font-size: 14px;
  line-height: 1.6em;
  margin: 0 0 10px;
  color: #979797;
}
.contacts .contacts_body .part2 .bottom .line1 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
}
.contacts .contacts_body .part3 {
  margin: 20px 0;
}
.contacts .contacts_body .part3 .line {
  font-size: 14px;
  line-height: 1.6em;
  margin: 0 0 10px;
  color: #979797;
}
.contacts .contacts_body .part3 .line1 {
  margin-bottom: 40px;
  font-size: 24px;
  color: #ffffff;
  line-height: 30px;
}
.contacts .contacts_body .part3 .line3 {
  margin-top: 40px;
}
.contacts .contacts_body .part3 .line3 img {
  vertical-align: middle;
  line-height: 24px;
}